<% provide(:title, 'Users') %>

<h1>利用者一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= will_paginate %>
    <table class="table table-condensed table-hover" id="table-users">
      <thead>
        <tr>
          <th><%= User.human_attribute_name :name %></th>
        </tr>
      </thead>
  
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>
              <%= link_to user.name, user %>
              <% if user.admin? %>
                <span class="label label-primary label-user-division">管理者</span>
              <% else %>
                <span class="label label-success label-user-division">一般</span>
              <% end %>
            </td>
            <td>
              <% unless user.admin? %>
                <%= link_to "削除", user, method: :delete,
                data: { confirm: "#{user.name}を削除します。よろしいですか？" },
                class: "btn btn-danger btn-sm pull-right" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate %>
  </div>
</div>
